<html>


<head>
<title>${title}</title>

<!-- CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

<style>
body { padding-top: 10px; }
form { display: inline; }
a:link, a:visited a:link:active, a:visited:active { 
    text-decoration: none;
}
</style>


</head>


<body>

<!-- START CONTAINER -->
<div class="container">


<!-- NAV BAR -->
<nav class="navbar navbar-default">
<div class="container-fluid">
<div class="navbar-header">
<a class="navbar-brand" href="/">${serviceName} #${serviceInstance}</a>
</div>
<ul class="nav navbar-nav">
<li><a href="/Photos">Photos</a></li>
<li><a href="/Photos/Tag?tagNumber=${tag.number}">${tag.name}</a></li>
<li class="active"><a href="/Photos/Tag?tagNumber=${tag.number}&number=${currentPage}">Page ${currentPage}</a></li>
</ul>
</div><!-- /.container-fluid -->
</nav>
<!-- NAV BAR -->


<!-- START ROW -->
<div class="row">

<!-- TITLE -->
<div class="col-md-12">
<h3><span class="glyphicon glyphicon-picture" aria-hidden="true"></span> Photo Tag <span class="label label-primary">${tag.name}</span></h3>
<hr/>
</div>

#if($pageCount > 1)
<div class="col-md-12">
<ul class="pager">
  <li class="previous #if($previousPage == 0) disabled #end"><a href="#if($previousPage == 0)# #else /Photos/Tag?tagNumber=${tag.number}&number=${previousPage} #end">Previous</a></li>
  <li><form><input type="hidden" name="name" value="${collection.name}"/><input type="text" size="2" name="number" value="${currentPage}"/></form> / ${pageCount}</li>
  <li class="next #if($nextPage == 0) disabled #end"><a href="#if($nextPage == 0)# #else /Photos/Tag?tagNumber=${tag.number}&number=${nextPage} #end">Next</a></li>
</ul>
</div>
#end

#foreach($file in $page)
<div class="col-md-4 col-sm-6">
<div class="thumbnail">
<div style="width:320px; height:240px;">
<a target="Photo_${file.id}" href="/Photos/ViewPhoto/${file.id}.${file.type}?id=${file.id}&width=1900&height=1080&fit=false"><img src="/Photos/ViewPhoto/${file.id}.${file.type}?id=${file.id}&width=320&height=240"></a>
</div>
<div class="caption">
#if($file.file.tags.size() > 0)
<p>
<a href="/Photos/Collection?name=${file.file.id}&type=id"><span class="label label-primary">:</span></a>
#foreach($fileTag in $file.file.tags)
<a href="/Photos/Tag?tagNumber=${fileTag.number}"><span class="label label-primary">${fileTag}</span></a>
#end
</p>
#end

<form method="post">
<input type="hidden" name="tagId" value="${file.id}">
<div class="add-tag input-group input-group-sm">
<input type="text" name="tag" class="form-control" placeholder="Add tag...">
</div>
</form>

</p>
</div>
</div>
</div>
#end

#if($pageCount > 1)
<div class="col-md-12">
<ul class="pager">
  <li class="previous #if($previousPage == 0) disabled #end"><a href="#if($previousPage == 0)# #else /Photos/Tag?tagNumber=${tag.number}&number=${previousPage} #end">Previous</a></li>
  <li>${currentPage} / ${pageCount}</li>
  <li class="next #if($nextPage == 0) disabled #end"><a href="#if($nextPage == 0)# #else /Photos/Tag?tagNumber=${tag.number}&number=${nextPage} #end">Next</a></li>
</ul>
<hr/>
</div>
#end

<!-- END ROW -->
</div>

<!-- END CONTAINER -->
</div>



<!-- JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js" ></script>
<script>
$(document).ready(function() {
	
});
</script>
</body>
</html>
