<html>


<head>
<title>${title}</title>

<!-- CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

<style>
body { padding-top: 10px; }
form { display: inline; }
a:link, a:visited a:link:active, a:visited:active { 
    text-decoration: none;
}
</style>


</head>


<body>

<!-- START CONTAINER -->
<div class="container">


<!-- NAV BAR -->
<nav class="navbar navbar-default">
<div class="container-fluid">
<div class="navbar-header">
<a class="navbar-brand" href="/">${serviceName} #${serviceInstance}</a>
</div>
<ul class="nav navbar-nav">
<li><a href="/Videos">Videos</a></li>
<li class="active"><a href="/Videos/Collection?name=${collection.urlEncodedName}&number=${currentPage}">Page ${currentPage}</a></li>
</ul>
</div><!-- /.container-fluid -->
</nav>
<!-- NAV BAR -->


<!-- START ROW -->
<div class="row">

<!-- TITLE -->
<div class="col-md-12">
<h3><span class="glyphicon glyphicon-picture" aria-hidden="true"></span> Video Collection <small>
<a href="/Videos/Collection?name=${prevName}">&lt;&lt;</a>
${collection.name}
<a href="/Videos/Collection?name=${nextName}">&gt;&gt;</a>
</small></h3>
<hr/>
</div>

#if($pageCount > 1)
<div class="col-md-12">
<ul class="pager">
  <li class="previous #if($previousPage == 0) disabled #end"><a href="#if($previousPage == 0)# #else /Videos/Collection?name=${collection.urlEncodedName}&number=${previousPage} #end">Previous</a></li>
  <li><form><input type="hidden" name="name" value="${collection.name}"/><input type="text" size="2" name="number" value="${currentPage}"/></form> / ${pageCount}</li>
  <li class="next #if($nextPage == 0) disabled #end"><a href="#if($nextPage == 0)# #else /Videos/Collection?name=${collection.urlEncodedName}&number=${nextPage} #end">Next</a></li>
</ul>
</div>
#end

#foreach($file in $page)
<div class="col-md-3 col-sm-6">
<div class="thumbnail">
<div style="width:256px; height:192px;">
<a href="/Videos/ViewVideo?id=${file.id}" target="_video${file.id}">
<img src="/Videos/ViewVideoFrame?id=${file.id}&s=5&width=256"/>
</a>
</div>
<div class="caption">
<p>
<div style="width:320px; height:15px;">
#foreach($fileTag in $file.tags)
<a href="/Videos/Tag?tagNumber=${fileTag.number}"><span class="label label-primary">${fileTag}</span></a>
#end
</div>
</p>

<form method="post">
<input type="hidden" name="tagId" value="${file.id}">
<div class="add-tag input-group input-group-sm">
<input type="text" name="tag" class="form-control" placeholder="Add tag...">
</div>
</form>

</p>
</div>
</div>
</div>
#end

#if($pageCount > 1)
<div class="col-md-12">
<ul class="pager">
  <li class="previous #if($previousPage == 0) disabled #end"><a href="#if($previousPage == 0)# #else /Videos/Collection?name=${collection.urlEncodedName}&number=${previousPage} #end">Previous</a></li>
  <li>${currentPage} / ${pageCount}</li>
  <li class="next #if($nextPage == 0) disabled #end"><a href="#if($nextPage == 0)# #else /Videos/Collection?name=${collection.urlEncodedName}&number=${nextPage} #end">Next</a></li>
</ul>
#end
<hr/>

</div>

<!-- END ROW -->
</div>

<!-- END CONTAINER -->
</div>



<!-- JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js" ></script>
<script>
$(document).ready(function() {
	
} );
</script>
</body>
</html>
